import(Matrix)
import(quadprog)
importFrom("graphics", "frame", "legend", "lines", "par", "plot",
           "plot.new", "plot.window", "points", "polygon", "segments",
           "strheight", "strwidth", "text")
importFrom("methods", "as")
importFrom("stats", "runif")
export(align.pedigree, kindepth)
export(pedigree, autohint)
export(plot.pedigree, as.data.frame.pedigree)
export(ped.legend)
S3method(plot, pedigree)
S3method(as.data.frame, pedigree)
S3method('[', pedigreeList)
S3method('[', pedigree)
